<ion-content class="login-content">
  <div class="login-container">
    <h2>Arena Tracker Login</h2>
    <h4>
      If you don't have an account, a new one will be created upon login. Use a new and unique password and make
      sure to remember it. I cannot tell you your password - because I can't see it either.
    </h4>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="login-form">
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" placeholder="Username" required (keyup)="onKeyPress($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" placeholder="Password" required (keyup)="onKeyPress($event)">
        </ion-input>
      </ion-item>

      <ion-button expand="block" (click)="onLogin()" [disabled]="isLoading" class="login-button">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Register / Login</span>
      </ion-button>
    </div>
  </div>
</ion-content>
